.adminfoodlist-title{
    font-style: normal;
    //font-weight: 790;
    //font-size: 30px;
    //line-height: 57px;
    color: #8A8A8A;
    //padding-left: 100px;
}


.adminfoodlist-body{
    font-size: 20px;
    background: #F3F3F3;
    text-decoration:none;
}


.adminfoodlist-no-underline{
    text-decoration:none;
}


.adminfoodlist-image{
    overflow: hidden;
    border-radius: 25px;
}


.adminfoodlist-wrapper{
    margin: 10px auto;
    width:400px;
    background: orange;
    font-style: normal;
    //font-weight: 790;
    font-size: 30px;
    line-height: 30px;
    color: #8A8A8A;
    //padding-left: 100px;
}


